@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
body, html{
  height: 100%;
}
body{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb{
  width: 100%;
  background-color: #222;
}

.container{
  width: 100%;

  background-color: #f3f3f3;
}

.header{
  width: 100%;
  height: 45px;
  padding: 0 40px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8);
  transition: .3s;
}

.logo-box{
  margin-right: 15px;
  font-size: 17px;
  color: #d3d3d3;

  transition: .3s;
  cursor: pointer;
  line-height: 15px;
}
.logo-box:hover{
  color: #fff;
}

.search-box{
  display: none;
}
.menu{
  display: flex;
  list-style: none;
}
.menu li{
  margin: 0 20px;
}
.menu li a{
  text-decoration: none;
  font-size: 11px;
  color: #d3d3d3;
  transition: .3s;
}
.menu li a:hover{
  color: #fff;
}

.search-cart{
  display: flex;
  align-items: center;

  color: #d3d3d3;
  list-style: none;
}
.search-cart li{
  margin: 0 20px;
  line-height: 10px;

  cursor: pointer;
  transition: .3s;
}
.search-cart li:hover{
  color: #fff;
}

.menu-hamb{
  width: 15px;
  
  display: none;
  cursor: pointer;
}
.menu-hamb::before,
.menu-hamb::after{
  content: "";
  display: block;
  transition: .3s;
  
  width: 15px;
  height: 1px;

  background-color: #d3d3d3;
}
.menu-hamb::after{
  margin-top: 5px;
}
.menu-hamb:hover::before,
.menu-hamb:hover::after{
  background-color: #fff;
}

@media screen and (max-width: 970px) {
  .header{
    padding: 0 20px;
    justify-content: space-between;
  }
  .logo-box{
    margin: 0;
  }
  .menu-hamb{
    display: block;
  }
  .search-cart li{
    margin: 0;
  }
  .search-cart li:first-of-type{
    display: none;
  }
  .menu{
    width: 100%;
    height: 0;
    padding: 0 40px;

    display: block;
    visibility: hidden;
    overflow: hidden;
    transition: .3s;

    position: absolute;
    top: 45px;
    left: 0;

    background-color: #000;
  }
  .menu li{
    padding: 15px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
  }
  .menu li a{
    font-size: 16px;
  }
  .search-box{
    display: block;
    margin: 15px 0;
    position: relative;
  }
  .search-box input{
    width: 100%;
    height: 40px;
    padding: 0 15px 0 35px;

    outline: none;

    border: 0;
    border-radius: 8px;
    background-color: #1d1d1f;
    color: #fff;
  }
  .search-box ion-icon{
    color: #d3d3d3;
    position: absolute;
    top: 12px;
    left: 10px;
  }
  .active-menu{
    height: calc(100vh - 45px);
    visibility: visible;
    overflow-y: auto;
  }
  .active-menu-hamb::before{
    position: relative;
    top: 3px;
    transform: rotate(45deg);
  }
  .active-menu-hamb::after{
    position: relative;
    top: -3px;
    transform: rotate(-45deg);
  }
  .active-header{
    background-color: #000;
  }
}

.message-header{
  width: 100%;
  padding: 15px 10px;
  margin-top: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f3f3f3;
}
.message-header p{
  font-size: 14px;
  text-align: center;
}
.message-header p a{
  text-decoration: none;
  color: #4d8dd5;
}

.section-1{
  width: 100%;
  padding: 40px 30px 20px 30px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  background-image: linear-gradient(135deg, #cde8e1, #a0d5f4);
}
.section-1 h1{
  font-size: 3.5vw;
}
.section-1 a{
  margin-top: 10px;
  display: flex;
  align-items: center;

  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  color: #4d8dd5;
}
.section-1 a:hover{
  border-bottom: 2px solid #4d8dd5;
}
.section-1 a ion-icon{
  line-height: 10px;
  margin-left: 5px;
}
.volta-as-aulas-banner{
  width: 100%;
}
.volta-as-aulas-banner img{
  width: 100%;
  max-width: 650px;
}

.section-2{
  width: 100%;
  padding-top: 60px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-2 h1{
  font-size: 3.5vw;
}
.section-2 p{
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
}
.links-iphone13-pro{
  margin-top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.links-iphone13-pro a{
  margin: 0 15px;
  display: flex;
  align-items: center;

  border-bottom: 2px solid transparent;
  font-weight: 600;
  font-size: 17px;
  color: #4d8dd5;
  text-decoration: none;
}
.links-iphone13-pro a:hover{
  border-bottom: 2px solid #4d8dd5;
}
.links-iphone13-pro a ion-icon{
  line-height: 10px;
  margin-left: 5px;
}
.banner-iphone13-pro{
  margin-top: 30px;
  padding: 0 30px;
}
.banner-iphone13-pro img{
  width: 100%;
  max-width: 615px;
}

.section-3{
  width: 100%;
  padding-top: 60px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: #35283c;
}
.section-3 h1{
  font-size: 3.5vw;
  color: #f3f3f3;
}
.section-3 p{
  margin-top: 10px;
  font-weight: 600;
  font-size: 30px;
  color: #f6c7e9;
}
.links-iphone13{
  margin-top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.links-iphone13 a{
  margin: 0 15px;
  display: flex;
  align-items: center;

  border-bottom: 2px solid transparent;
  font-weight: 600;
  font-size: 17px;
  color: #4d8dd5;
  text-decoration: none;
}
.links-iphone13 a:hover{
  border-bottom: 2px solid #4d8dd5;
}
.links-iphone13 a ion-icon{
  line-height: 10px;
  margin-left: 5px;
}
.banner-iphone13{
  margin-top: 30px;
  padding: 0 30px;
}
.banner-iphone13 img{
  width: 100%;
  max-width: 615px;
}

.section-4{
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-4 > h1{
  font-size: 3.5vw;
}
.list-iphone-container{
  width: 100%;
  margin-top: 50px;

  display: flex;
  justify-content: center;
}
.list-iphone{
  width: 75%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.iphone-box{
  width: 245px;
  height: 470px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: .3s;
  cursor: pointer;
}
.iphone-box:hover{
  transform: scale(1.05);
}
.iphone-box img{
  width: 200px;
}
.color{
  display: flex;
  align-items: center;
  list-style: none;
}
.circle{
  width: 16px;
  height: 16px;
  margin: 10px 5px;

  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}
.one{
  background-color: #a0b5c8;
}
.two{
  background-color: #52514d;
}
.three{
  background-color: #276888;
}
.four{
  background-color: #bf0012;
}
.iphone-box p{
  margin-top: 15px;
  font-size: 13px;
  color: #bf0012;
}
.iphone-box h1{
  margin: 5px 0;
  font-size: 23px;
}
.iphone-box h2{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
#price{
  margin-top: 25px;
  font-size: 15px;
  color: #000;
}
.iphone-box button{
  margin: 10px 0;
  padding: 4px 8px;

  outline: none;
  cursor: pointer;

  border: 0;
  border-radius: 20px;
  background-color: #0071e3;
  color: #fff;
}
.iphone-box a{
  display: flex;
  align-items: center;

}
.iphone-box a{
  margin: 0 15px;
  display: flex;
  align-items: center;

  border-bottom: 2px solid transparent;
  font-size: 14px;
  color: #4d8dd5;
  text-decoration: none;
}
.iphone-box a:hover{
  border-bottom: 2px solid #4d8dd5;
}
.iphone-box a ion-icon{
  line-height: 10px;
  margin-left: 5px;
}

.footer{
  width: 75%;
  padding: 25px 0;
  margin: 0 auto;

  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.footer p{
  font-size: 13px;
  color: #888;
}

@media screen and (max-width: 750px) {
  .h1{
    font-size: 30px !important;
  }
  .p{
    font-size: 15px !important;
  }
  .links-iphone13-pro a,
  .links-iphone13 a,
  .section-1 a{
    font-size: 14px;
  }
  .list-iphone{
    justify-content: center;
  }
}